<form [formGroup]="lotteryForm">
  <div class="container">
    <div class="row">
      <div class="col-12 mt-3 text-center">
        <h1>🎰 (PR) Lottery 🎰</h1>
      </div>
    </div>

    <div class="row justify-content-center mt-5">
      <div class="col-8 text-center">
        <button
          (click)="lotteryService.pickAWinner()"
          type="button"
          class="btn btn-primary btn-xtra-lg"
        >
          Pick a Winner!
        </button>
      </div>
    </div>

    <div
      *ngIf="(lotteryService.currentWinners$ | async)?.length !== 0; $"
      class="row justify-content-center mt-5"
    >
      <div class="col-6 text-center">
        <div class="card border-success text-center">
          <h2 class="card-header bg-transparent border-success">🎉</h2>
          <div class="card-body">
            <h3
              class="card-title"
              *ngFor="let winner of lotteryService.currentWinners$ | async"
            >
              {{ winner }}
            </h3>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mt-5">
      <div class="col-8 text-center">
        <button
          (click)="lotteryService.resetWinners()"
          type="button"
          class="btn btn-secondary btn-lg"
          [attr.disabled]="(lotteryService.activeID$ | async) ? null : ''"
        >
          New Round
        </button>
      </div>
    </div>

    <hr />


    <div class="row mt-5">
      <div class="col-6">
          <label for="participants">Participants</label>
      </div>

      <div class="col-6">
          <label for="previousWinners">Previous Lucky Winners</label>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-6">
        <div class="form-group">
          <textarea
            formControlName="participants"
            class="form-control"
            id="participants"
            rows="3"
            [attr.disabled]="(lotteryService.activeID$ | async) ? null : ''"
          ></textarea>
          <small class="form-text text-muted"
            >Enter the participants as a comma separated list</small
          >
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <textarea
            formControlName="previousWinners"
            class="form-control"
            id="previousWinners"
            rows="3"
            [attr.disabled]="(lotteryService.activeID$ | async) ? null : ''"
          ></textarea>
          <small class="form-text text-muted"
            >When all participants won, everyone automatically gets another
            chance to win</small
          >
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-7">
        <div class="form-group">
          <label for="lotteriesSelect">Lotteries</label>
          <select
            formControlName="lotteries"
            class="form-control"
            id="lotteriesSelect"
            [attr.disabled]="
              (lotteryService.lotteryIDs$ | async)?.length > 0 ? null : ''
            "
          >
            <option
              *ngFor="let lotteryId of lotteryService.lotteryIDs$ | async"
              [ngValue]="lotteryId"
              >{{ lotteryId }}</option
            >
          </select>
        </div>

        <div class="btn-toolbar">
            <button
              (click)="addLottery()"
              type="button"
              class="btn btn-outline-secondary mr-2"
            >
              Add Lottery
            </button>
            <button
              (click)="lotteryService.deleteActiveLottery()"
              type="button"
              class="btn btn-outline-danger"
            >
              Delete Current Lottery
            </button>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12">
        <p>All data is stored in the browser localStorage</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <button
          (click)="lotteryService.exportState()"
          type="button"
          class="btn btn-outline-primary mr-2"
        >
          Export Data
        </button>

        <span class="mr-2">Import Data:</span>
        <input
          class="btn btn-outline-secondary"
          type="file"
          (change)="openFile($event)"
        />
      </div>
    </div>
  </div>
</form>
